@import "_oa";

@include font-face("Monaco", font-files("monaco/monaco.ttf", "monaco/monaco.otf"));
@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', Monaco, "微軟正黑體", "Microsoft JhengHei";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  @include font-smoothing(antialiased);
}


.icon-search:before {
    content: "\f02e";
}
.icon-facebook-with-circle:before {
    content: "\e902";
}

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

html {
  height: 100%;

  body {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: medium;
    font-family: Monaco, "微軟正黑體", "Microsoft JhengHei";
    background: rgba(242, 242, 242, 1.00);
    color: rgba(50, 50, 50, 0.8);

    @include font-smoothing(antialiased);

    $allwidth: 1000px;


    header {
      display: inline-block;
      width:100%;
      height: 60px;
      background-color: rgba(58, 58, 58, 1.00);
      border-bottom: 5px solid rgba(142, 94, 37, 1.00);

      .hb {
        margin: 0 auto;
        width: $allwidth;
        height: 100%;

        @include split-left(75%, '.tbl', '.tbr');

        .tbl {
          float: left;
          padding-top: 13px;

          img {
            float: left;
            height: auto;
            max-width: 100%;
          }
        }

        .tbr {
          height: 30px;
          float: left;
          margin-top: 13px;
          padding: 3px 15px;
          position: relative;

          @include border-radius(30px);
          background-color: rgba(255, 255, 255, .3);
          text-align: left;

          #search {
            @include input;
            width: calc(100% - 15px);
            height: 24px;

            padding-left: 5px;
            font-size: .8em;
            color: rgba(38, 228, 193, 1.00);

            background-color: transparent !important;
            border: 0;
          }
          .icon-search {
            position: absolute;
            right: 10px;
            top: 8px;
            display: inline-block;
            color: rgba(255, 255, 255, .5);
          }
        }

      }
    }



    #middle {
      width: 100%;
      height: 100%;

      padding-top: 15px;

      .mb {
        margin: 0 auto;
        width: $allwidth;
        height: 100%;

        @include split-left(75%, '.mbl', '.mbr');

        .mbl {
          float: left;
          padding-right: 15px;

          @include clearfix();


          .mbla {
            float: left;
            width: 100%;
            margin-bottom: 10px;

            border-top: 1px solid rgba(223, 223, 223, 1.00);
            border-bottom: 1px solid rgba(223, 223, 223, 1.00);

            &.mf {
              margin-bottom: 0;
            }

            @include clearfix();

            > div {
              float: left;
              width: calc(100% / 6);
              height: 100%;
              padding: 10px 0;

              text-align: center;

              a {
                display: block;
                width: 100%;
                font-size: .8em;
                font-weight: bolder;
                color: rgba(107, 105, 105, 1.00);
                text-decoration: none;

                &:hover {
                  color: rgba(48, 170, 149, 1.00);
                }

                &.nh {
                  color: rgba(48, 170, 149, 1.00);
                }
              }

              + div {
                a {
                  position: relative;

                  &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    background-color: rgba(143, 143, 143, 1.00);
                  }
                }
              }
            }


          }


          .mblb {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid rgba(223, 223, 223, 1.00);

            @include clearfix();

            &.cmb {
              border-bottom: 0;
            }

            > div {
              display: inline-block;
              width: calc(50% - 5px);

              margin-bottom: 10px;


              .typbox {
                width: 100%;
                height: 150px;

                @include clearfix();

                img {
                  float: left;
                  height: auto;
                  max-width: 100%;
                }
              }

              .dowbox {
                .titletype {
                width: 100%;
                padding: 8px 0;
                text-align: left;

                @include clearfix();

                a {
                  float: left;
                  font-size: 1em;
                  line-height: 1.4em;
                  color: rgba(21, 142, 120, 1.00);
                  font-weight: bolder;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }
                }

                .people {
                width: 100%;
                border-top: 1px solid rgba(112, 71, 24, 1.00);
                border-bottom: 1px solid rgba(112, 71, 24, 1.00);
                padding: 5px 0;

                @include split-left(70%, '.pa', '.pb');

                .pa {
                  float: left;

                  @include clearfix();

                  img {
                    margin: 0 5px;
                    float: left;
                    height: auto;
                    max-width: 100%;
                  }

                  span {
                    float: left;
                    font-size: .8em;
                    font-weight: bolder;
                    padding-top: 3px;
                    color: rgba(112, 70, 23, 1.00);
                  }
                }

                .pb {
                  float: left;
                }
                }

                .centype {
                width: 100%;
                padding-top: 10px;
                text-align: left;

                span {
                  font-size: .8em;
                  line-height: 1em;
                  font-weight: bolder;
                  color: rgba(71, 71, 71, 1.00);

                  a {
                    color: rgba(21, 142, 120, 1.00);
                    font-weight: bolder;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
                }

              }



              &:nth-child(2n+1) {
                float: left;
              }

              &:nth-child(2n) {
                float: right;
              }

            }


            > div.cc {
              display: inline-block;
              width: 100%;

              margin-bottom: 10px;

              @include clearfix();

              .typbox {
                float: left;
                width: 40%;
                height: 200px;

                padding: 15px 15px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .dowbox {
                float: left;
                width: 60%;
                padding: 0 10px;

                .titletype {
                width: 100%;
                padding: 8px 0;
                text-align: left;

                @include clearfix();

                a {
                  float: left;
                  font-size: 1em;
                  line-height: 1.4em;
                  color: rgba(21, 142, 120, 1.00);
                  font-weight: bolder;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }
                }

                .people {
                width: 100%;
                border-top: 1px solid rgba(112, 71, 24, 1.00);
                border-bottom: 1px solid rgba(112, 71, 24, 1.00);
                padding: 5px 0;

                @include split-left(70%, '.pa', '.pb');

                .pa {
                  float: left;

                  @include clearfix();

                  img {
                    margin: 0 5px;
                    float: left;
                    height: auto;
                    max-width: 100%;
                  }

                  span {
                    float: left;
                    font-size: .8em;
                    font-weight: bolder;
                    padding-top: 3px;
                    color: rgba(112, 70, 23, 1.00);
                  }
                }

                .pb {
                  float: left;
                }
                }

                .centype {
                width: 100%;
                padding-top: 10px;
                text-align: left;

                span {
                  font-size: .8em;
                  line-height: 1em;
                  font-weight: bolder;
                  color: rgba(71, 71, 71, 1.00);

                  a {
                    color: rgba(21, 142, 120, 1.00);
                    font-weight: bolder;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
                }

              }

              &:nth-child(2n+1) {
                float: left;
              }

              &:nth-child(2n) {
                float: right;
              }

            }


            > div.dd {
              display: inline-block;
              width: 100%;

              margin-bottom: 10px;

              @include clearfix();

              .typbox {
                float: left;
                width: 100%;
                height: 100%;

                padding: 15px 0;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .dowbox {
                float: left;
                width: 100%;


                .greentype {
                  width: 100%;
                  padding-bottom: 15px;
                  font-size: 1.2em;
                  text-align: left;
                  line-height: 1.4em;
                  color: rgba(21, 142, 120, 1.00);
                  font-weight: bolder;
                }

                .people {
                width: 100%;
                border-top: 1px solid rgba(112, 71, 24, 1.00);
                border-bottom: 1px solid rgba(112, 71, 24, 1.00);
                padding: 5px 0;

                @include split-left(70%, '.pa', '.pb');

                .pa {
                  float: left;

                  @include clearfix();

                  img {
                    padding: 10px 10px;
                    float: left;
                    height: auto;
                    max-width: 100%;
                  }

                  span {
                    float: left;
                    font-size: .9em;
                    font-weight: bolder;
                    padding-top: 12px;
                    color: rgba(112, 70, 23, 1.00);
                  }

                  .bbox {
                    display: inline-block;
                    float: left;
                    background-color: rgba(123, 87, 51, 1.00);
                    padding: 10px 10px;
                    color: rgba(255, 255, 255, 1);
                    font-size: .8em;
                  }
                }

                .pb {
                  float: left;
                }
                }

                .centype {
                width: 100%;
                padding-top: 10px;
                text-align: left;

                span {
                  font-size: 1em;
                  line-height: 1.6em;
                  font-weight: bolder;
                  color: rgba(71, 71, 71, 1.00);

                  a {
                    color: rgba(21, 142, 120, 1.00);
                    font-weight: bolder;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
                }

              }

              &:nth-child(2n+1) {
                float: left;
              }

              &:nth-child(2n) {
                float: right;
              }

            }

          }


          .mblc {
            width: 100%;
            padding: 10px 0;

            .nb {
              width: 100%;

              .cnb {
                display: inline-block;

                @include clearfix();

                > a {
                  display: inline-block;
                  padding-top: 5px;
                  margin-left: 10px;
                  width: 30px;
                  height: 30px;

                  @include border-radius(50px);

                  background: rgba(202, 215, 222, 1.00);

                  font-size: 1em;
                  color: white;
                  text-align: center;
                  text-decoration: none;

                  &:hover, &.na {
                   background: rgba(100, 173, 208, 1.00);
                  }

                  &.nb {
                   width: auto;
                   padding-left: 10px;
                   padding-right: 10px;
                  }

                }

              }

            }

          }


          .mbld {
            width: 100%;
            padding: 20px 0;

            @include clearfix();

            .sh {
              float: left;
              width: 100%;


              a {
                width: calc(50% - 5px);
                font-size: 1em;
                font-weight: bolder;
                color: rgba(255, 255, 255, 1);
                padding: 15px 0;
                text-decoration: none;

                @include border-radius(5px);


                &.bb01 {
                  float: left;
                  display: inline-block;
                  border-bottom: 5px solid rgba(38, 60, 101, 1.00);
                  background-color: rgba(61, 91, 150, 1.00);

                  &:hover {
                    border-bottom: 5px solid rgba(61, 91, 150, 1.00);
                    background-color: rgba(38, 60, 101, 1.00);
                  }

                  &:before {
                    font-size: 1.4em;
                    padding-right: 10px;
                  }
                }

                &.bb02 {
                  float: right;
                  display: inline-block;
                  border-bottom: 5px solid rgba(45, 69, 140, 1.00);
                  background-color: rgba(24, 31, 95, 1.00);

                  &:hover {
                    border-bottom: 5px solid rgba(24, 31, 95, 1.00);
                    background-color: rgba(45, 69, 140, 1.00);
                  }

                  &:before {
                    font-size: 1.4em;
                    padding-right: 10px;
                  }
                }

              }

            }
          }

        }



        .mbr {
          float: left;

          // 是一個大組
          .mbra {
            width: 100%;
            @include clearfix();

            // 標題區（bar)
            .ttba {
              float: left;
              width: 100%;
              border-top: 5px solid rgba(230, 157, 38, 1.00);
              border-bottom: 1px solid rgba(210, 210, 210, 1.00);

              padding: 10px 0;

              &.blue {
                border-top: 5px solid rgba(38, 214, 232, 1.00);
              }

              &.gry {
                border-top: 5px solid rgba(129, 130, 131, 1);
                border-bottom: 0;

                img {
                  width: 100%;
                  margin: 5px 0;
                  height: auto;
                }
              }

              .yt {
                font-size: 1em;
                font-weight: bolder;
                color: rgba(230, 157, 38, 1.00);

                &.bluet {
                  color: rgba(21, 126, 173, 1.00);
                }
              }
            }


            // 關字雲內容
            .cloudbox {
              float: left;
              width: 100%;
              padding: 10px 0;
              line-height: 32px;

              @include clearfix();

              span {
                display: inline-block;
                float: left;
                padding: 3px 3px;
                color: rgba(118, 119, 120, 1);
                font-weight: bolder;
                text-align: center;

                &.t01 {
                  font-size: .8em;
                }

                &.t02 {
                  font-size: 1.4em;
                }

                &.t03 {
                  font-size: 1em;
                }

                &.t04 {
                  font-size: 2.2em;
                }

                &.t05 {
                  font-size: .6em;
                }
              }
            }

            // 最新消息下方內容
            .ttbb {
              float: left;
              width: 100%;
              border-bottom: 1px dotted rgba(210, 210, 210, 1.00);
              padding: 10px 0;

              @include split-left(15%, '.tn', '.ct');

              .tn {
                font-size: 1em;
                font-weight: bolder;
                color: rgba(112, 70, 24, 1.00);
              }

              .ct {
                text-align: left;

                a {
                  font-size: .8em;
                  font-weight: bolder;
                  color: rgba(71, 71, 71, 1.00);
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

          }
        }
      }
    }



    footer {
      display: inline-block;
      width: 100%;
      height: 90px;
      margin-top: 50px;

      .fba {
        height: 45px;
        background-color: rgba(59, 59, 59, 1.00);

        .fbab {
          margin: 0 auto;
          width: $allwidth;

          @include split-left(50%, '.fbl', '.fbr');

          .fbl {
            float: left;
            padding-top: 10px;

            img {
              float: left;
              height: auto;
              max-width: 100%;
            }
          }

          .fbr {
            float: left;

            @include clearfix();

            span {
              padding-top: 15px;
              float: right;
              font-size: .8em;
              color: rgba(255, 255, 255, 1);

              a {
                color: rgba(235, 212, 51, 1.00);
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }


      .fbb {
        height: 45px;
        background-color: rgba(197, 228, 146, 1.00);

        .fbba {
          margin: 0 auto;
          width: $allwidth;

          span {
            font-size: .8em;
            text-align: center;
            color: rgba(61, 61, 61, 1.00);
            line-height: 45px;
          }
        }
      }

    }




  }
}
